<div id="<%= dom_id product %>">
  <div class="pane-flat mb-2">
        <p class="fw-bold"><%= product.name %></p>
        <p><%= product.updated_at.strftime('%d %b %Y') %></p>
        <p class="fw-bolder">$<%= product.amount %></p>

  </div>
</div>