
<div id="groups">
  <% @groups.each do |groupindex| %>
    
    <%# render group, total: group.total_products_sum %>
    <%= render "groups/groupindex", total: @total_value, group: groupindex %>
  <% end %>
</div>


