@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
 *= require_tree .
 *= require_self
 */
:root {
  --primary-color: #3778c2;
  --secondary-color: #5fb523;
  --tertiary-color: #434b54;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ccc;
}

.wrapper {
  border: 2px solid var(--tertiary-color);
  max-width: 375px;
  margin: 1em auto;
  height: 100vh;
  border-radius: 1em;
  position: relative;
}

.border {
  border: 2px solid yellowgreen;
}

.headerone {
  background-color: var(--primary-color);
  padding: 1em 1em 0 1em;
}

.headerone > div,
.headertwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
}

.headertwo {
  background-color: #fff;
  color: var(--tertiary-color);
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.wider p {
  background-color: rgba(4, 46, 93, 0.1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.headertwo > p:nth-of-type(2) {
  font-weight: bold;
}

.headerone > div:nth-of-type(2) {
  height: 2.5rem;
  padding: 1em 0 0 0;
}

.headerone:first-child {
  border-radius: 0.9em 0.9em 0 0;
}

.wider p:hover {
  background-color: rgba(4, 46, 93, 0.7);
}

.new {
  color: var(--primary-color);
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.out {
  color: var(--primary-color);
  background-color: white;
  border-radius: 5px;
  height: 2rem;
  padding: 1px 5px;
  border: none;
  margin-bottom: 0.7em;
}

.new:hover,
.out:hover {
  filter: invert(100%);
}

.thin {
  height: 0.5rem;
  color: white;
  background-color: var(--primary-color);
  font-size: 0.2em;
}

.fa-circle {
  margin: 0 auto;
}

.icon {
  width: 15%;
  height: 3rem;
}

.main1 {
  margin: 0.5rem;
  max-height: 55vh;
  overflow-y: auto;
}

.main2 {
  height: 99vh;
  padding: 0.1rem;
  background-color: #f4f2f2;
  border-radius: 0.9rem;
}

.pane {
  background-color: #fff;
  display: flex;
}

.pane1 {
  flex: 1;
  margin-left: 0.8rem;
}

.pane1 p:nth-of-type(2) {
  font-size: 0.7em;
}

.pane1 p:nth-of-type(1) {
  color: #878e97;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.base {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1em 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0.93em 0.93em;
}

.base button {
  border: 2px solid oldlace;
  background-color: var(--secondary-color);
  width: 95%;
  color: oldlace;
  height: 3em;
}

.deledit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pane-flat {
  display: grid;
  grid-template-columns: 50% 30% 20%;
  background-color: #fff;
  padding: 1em 1em 0 1em;
}

.pane-flat p:nth-of-type(3) {
  justify-self: end;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  height: 93vh;
}

.splash-screen > div:nth-of-type(1) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 3.5em;
}

.login {
  text-align: center;
  background-color: var(--primary-color);
  color: oldlace;
}

.signup {
  text-align: center;
  background-color: transparent;
  color: var(--tertiary-color);
}

.login-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: oldlace;
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.6em 0.6em 0 0;
}

.login-head a {
  color: oldlace;
}

.forgot {
  text-align: center;
}

.group-select {
  display: grid;
  grid-template-columns: 10% 40% 10% 40%;
  height: 12vh;
  overflow-y: auto;
  background-color: #fff;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}
