<h1 class="text-primary-emphasis text-center">Add a New Product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Cancel", group_path(@group), class: "btn btn-danger form-control" %>
</div>
