<h3 class="text-primary-emphasis text-center">Add a New Product</h3>

<%= render "form", product: @product %>

<div>
  <%= link_to "Cancel", groups_path, class: "btn btn-danger form-control" %>
</div>
